---
import type { MarkdownHeading } from 'astro';

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props as Props;
---

<nav class="sticky top-4" aria-labelledby="grid-right">
  <h2 class="wv-kondolar wv-h9 wv-bold mb-1">On this page</h2>
  <ul>
    {
      headings
        .filter(({ depth }) => depth > 1 && depth < 4)
        .map((heading) => (
          <li>
            <a class="left-sidebar-li-a" href={`#${heading.slug}`}>
              {heading.text}
            </a>
          </li>
        ))
    }
  </ul>
</nav>
