.wv_sharer {
  @apply flex flex-row items-center space-x-3;
}

.wv_sharer svg {
  @apply w-[30px] h-[30px];
}

.wv_sharer svg .outline {
  @apply fill-none stroke-1;
}

.wv_sharer__share-link {
  @apply cursor-pointer;
}

.wv_sharer__share-link path {
  @apply fill-none stroke-2;
}

.wv_sharer--center {
  @apply justify-center;
}

.wv_sharer--dark {
  @apply text-black;
}

.wv_sharer--dark svg {
  @apply fill-black;
}

.wv_sharer--dark .outline {
  @apply stroke-black;
}

.wv_sharer--dark .wv_sharer__share-link {
  @apply stroke-black;
}

.wv_sharer--light {
  @apply text-white;
}

.wv_sharer--light svg {
  @apply fill-white;
}

.wv_sharer--light .outline {
  @apply stroke-white;
}

.wv_sharer--light .wv_sharer__share-link {
  @apply stroke-white;
}
