.wv_nav-button {
  @apply flex flex-row space-x-1 justify-center items-center bg-transparent border-none px-2 py-3 md:py-1 md:w-auto w-full h-full cursor-pointer hover:underline underline-offset-2 rounded;
}

.wv_nav-button--black {
  @apply text-black;
}

.wv_nav-button--white {
  @apply text-white;
}

.wv_nav-button--active {
  @apply underline;
}
