@keyframes showTittle {
  0%,
  11.11% {
    opacity: 1;
  }
  11.12%,
  to {
    opacity: 0;
  }
}

.wv_navbar {
  @apply relative flex flex-row px-3 py-2 md:px-4 md:py-3;
}

.wv_navbar--black,
.wv_navbar--black .wv_navbar__menu {
  @apply bg-black text-white;
}

.wv_navbar--black svg {
  @apply fill-white;
}

.wv_navbar--white,
.wv_navbar--white .wv_navbar__menu {
  @apply bg-white text-black;
}

.wv_navbar--white svg {
  @apply fill-black;
}

.wv_navbar__logo {
  @apply flex flex-1 justify-start;
}

.wv_navbar__logo__link {
  @apply flex flex-row items-baseline space-x-1;
}

.wv_navbar__logo__wevis,
.wv_navbar__logo__plus {
  @apply h-6 md:h-7;
}

.wv_navbar__logo__wevis--animated {
  --duration-per-one: 0.25s;
}

.wv_navbar__logo__wevis--animated > :not(:first-child):not(:nth-child(2)) {
  opacity: 0;
}

.wv_navbar__logo__wevis--animated > :nth-child(2) {
  animation: showTittle calc(var(--duration-per-one) * 9) linear 0s infinite;
}

.wv_navbar__logo__wevis--animated > :nth-child(3) {
  animation: showTittle calc(var(--duration-per-one) * 9) linear
    calc(var(--duration-per-one) * 1) infinite;
}

.wv_navbar__logo__wevis--animated > :nth-child(4) {
  animation: showTittle calc(var(--duration-per-one) * 9) linear
    calc(var(--duration-per-one) * 2) infinite;
}

.wv_navbar__logo__wevis--animated > :nth-child(5) {
  animation: showTittle calc(var(--duration-per-one) * 9) linear
    calc(var(--duration-per-one) * 3) infinite;
}

.wv_navbar__logo__wevis--animated > :nth-child(6) {
  animation: showTittle calc(var(--duration-per-one) * 9) linear
    calc(var(--duration-per-one) * 4) infinite;
}

.wv_navbar__logo__wevis--animated > :nth-child(7) {
  animation: showTittle calc(var(--duration-per-one) * 9) linear
    calc(var(--duration-per-one) * 5) infinite;
}

.wv_navbar__logo__wevis--animated > :nth-child(8) {
  animation: showTittle calc(var(--duration-per-one) * 9) linear
    calc(var(--duration-per-one) * 6) infinite;
}

.wv_navbar__logo__wevis--animated > :nth-child(9) {
  animation: showTittle calc(var(--duration-per-one) * 9) linear
    calc(var(--duration-per-one) * 7) infinite;
}

.wv_navbar__logo__wevis--animated > :nth-child(10) {
  animation: showTittle calc(var(--duration-per-one) * 9) linear
    calc(var(--duration-per-one) * 8) infinite;
}

.wv_navbar__logo__addon {
  @apply h-full max-h-6 w-auto object-contain object-left md:max-h-7;
}

.wv_navbar__title {
  @apply -mb-2 hidden items-center md:flex;
}

.wv_navbar__title--uppercase {
  @apply uppercase;
}

.wv_navbar__menu {
  @apply items-stretch md:flex-1;
}

.wv_navbar__menu--desktop {
  @apply flex flex-row justify-end space-x-2;
}

.wv_navbar__menu--hide-mobile {
  @apply hidden md:flex;
}

.wv_navbar__menu--always-show .wv_nav-button {
  @apply py-0;
}

.wv_navbar__menu--always-show .wv_nav-dropdown-list {
  @apply absolute z-20 mt-3 rounded border border-solid shadow md:mt-4;
}

.wv_navbar__menu--always-show .wv_nav-dropdown-item--white {
  @apply bg-white text-black hover:bg-black hover:bg-opacity-10;
}

.wv_navbar__menu--always-show .wv_nav-dropdown-item--black {
  @apply bg-black text-white hover:bg-white hover:bg-opacity-25;
}

.wv_navbar__menu--mobile {
  @apply absolute inset-x-0 top-full z-10 flex flex-col justify-end pb-2 md:hidden;
}

.wv_navbar__hamburger-button {
  @apply flex cursor-pointer items-center justify-center border-none bg-transparent px-2 md:hidden;
}
