.wv_navbar {
  @apply relative flex flex-row px-3 py-2 md:px-4 md:py-3;
}

.wv_navbar--black,
.wv_navbar--black .wv_navbar__menu {
  @apply bg-black text-white;
}

.wv_navbar--black svg {
  @apply fill-white;
}

.wv_navbar--white,
.wv_navbar--white .wv_navbar__menu {
  @apply bg-white text-black;
}

.wv_navbar--white svg {
  @apply fill-black;
}

.wv_navbar__logo {
  @apply flex-1 flex justify-start;
}

.wv_navbar__logo__wevis {
  @apply flex flex-row space-x-1 items-baseline;
}

.wv_navbar__logo__wevis svg {
  @apply h-6 md:h-7;
}

.wv_navbar__logo__addon {
  @apply h-full max-h-6 md:max-h-7;
}

.wv_navbar__title {
  @apply hidden md:flex items-center -mb-2;
}

.wv_navbar__menu {
  @apply md:flex-1 items-stretch;
}

.wv_navbar__menu--desktop {
  @apply flex flex-row justify-end space-x-2;
}

.wv_navbar__menu--hide-mobile {
  @apply hidden md:flex;
}

.wv_navbar__menu--always-show .wv_nav-button {
  @apply py-0;
}

.wv_navbar__menu--always-show .wv_nav-dropdown-list {
  @apply absolute z-20 mt-3 md:mt-4 rounded shadow border border-solid;
}

.wv_navbar__menu--always-show .wv_nav-dropdown-item--white {
  @apply bg-white text-black hover:bg-opacity-10 hover:bg-black;
}

.wv_navbar__menu--always-show .wv_nav-dropdown-item--black {
  @apply bg-black text-white hover:bg-opacity-25 hover:bg-white;
}

.wv_navbar__menu--mobile {
  @apply flex md:hidden z-10 absolute top-full inset-x-0 flex-col justify-end pb-2;
}

.wv_navbar__hamburger-button {
  @apply md:hidden flex justify-center items-center border-none bg-transparent cursor-pointer px-2;
}
