.wv_footer {
  @apply flex flex-row px-4 py-3 md:px-6 md:py-5;
}

.wv_footer--black {
  @apply bg-black text-white;
}

.wv_footer--black svg {
  @apply fill-white;
}

.wv_footer--white {
  @apply bg-white text-black;
}

.wv_footer--white svg {
  @apply fill-black;
}

.wv_footer__logo {
  @apply flex-1 flex items-center;
}

.wv_footer__logo svg {
  @apply h-4 md:h-6;
}

.wv_footer__follow {
  @apply flex flex-row items-center md:space-x-2;
}

.wv_footer__follow a {
  @apply flex items-center;
}
