/* Font family */
.wv_font_kondora {
  font-family: 'Kondolar Thai', 'serif';
}

.wv_font_anuphan {
  font-family: 'Anuphan', 'sans';
}

.wv_font_baijamjuri {
  font-family: 'Bai Jamjuri', 'sans';
}

/* Heading size */
.wv_h1 {
  @apply text-[60px] md:text-[100px] leading-[1.25];
}

.wv_h2 {
  @apply text-[48px] md:text-[72px] leading-[1.25];
}

.wv_h3 {
  @apply text-[36px] md:text-[60px] leading-[1.25];
}

.wv_h4 {
  @apply text-[32px] md:text-[48px] leading-[1.25];
}

.wv_h5 {
  @apply text-[28px] md:text-[36px] leading-[1.25];
}

.wv_h6 {
  @apply text-[24px] md:text-[32px] leading-[1.25];
}

.wv_h7 {
  @apply text-[21px] md:text-[28px] leading-[1.25];
}

.wv_h8 {
  @apply text-[18px] md:text-[24px] leading-[1.25];
}

.wv_h9 {
  @apply text-[16px] md:text-[21px] leading-[1.25];
}

.wv_h10 {
  @apply text-[15px] md:text-[18px] leading-[1.25];
}

.wv_h11 {
  @apply text-[14px] md:text-[16px] leading-[1.25];
}

/* Body size */
.wv_b1 {
  @apply text-[24px] md:text-[32px] leading-[1.5];
}

.wv_b2 {
  @apply text-[21px] md:text-[24px] leading-[1.5];
}

.wv_b3 {
  @apply text-[18px] md:text-[21px] leading-[1.5];
}

.wv_b4 {
  @apply text-[16px] md:text-[18px] leading-[1.5];
}

.wv_b5 {
  @apply text-[14px] md:text-[16px] leading-[1.5];
}

.wv_b6 {
  @apply text-[13px] md:text-[14px] leading-[1.5];
}

.wv_b7 {
  @apply text-[12px] leading-[1.5];
}
