.wv_nav-dropdown {
  @apply relative flex flex-col w-full md:w-fit;
}

.wv_nav-dropdown--white .wv_nav-button-chevron {
  @apply fill-black;
}

.wv_nav-dropdown--black .wv_nav-button-chevron {
  @apply fill-white;
}

.wv_nav-button-chevron--opened {
  transform: rotate(180deg);
}

.wv_nav-button {
  @apply self-center;
}

.wv_nav-dropdown--white .wv_nav-button {
  @apply bg-white text-black;
}

.wv_nav-dropdown--black .wv_nav-button {
  @apply bg-black text-white;
}

.wv_nav-dropdown-list {
  @apply md:absolute md:z-20 top-full right-0 md:mt-4 md:rounded flex flex-col md:shadow md:border md:border-solid;
}

.wv_nav-dropdown--white .wv_nav-dropdown-list {
  @apply bg-white border-black border-opacity-10;
}

.wv_nav-dropdown--black .wv_nav-dropdown-list {
  @apply bg-black border-white border-opacity-20;
}
